# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.render.yaml
.docker-compose.yaml
.dockerignore
.txt
.Pipfile
.Pipfile.lock

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados por el entorno virtual
venv/

# Archivos de caché
__pycache__/

# Archivos de configuración local


# Archivos de bloqueo de dependencias
Pipfile.lock
package-lock.json

# Archivos generados por el compilador (si aplica)
*.pyc
*.so

# Archivos temporales de editores y IDEs
.idea
*.suo
*.user